      .standard-margin{
        padding-left: 50px;
        padding-right: 50px;
      }

      .page-title{
        height: 500px;
      }

      .home-button {
        padding-left: 50px;
      }


      .name-Noah{
        font-family: 'Roboto';
        font-size: 120px;
        font-weight: 900;
      }

      .name-section {
        font-family: 'Roboto';
        font-size: 105px;
        font-weight: 900;

      }

      .mid-column {
        padding-top: 100px;
        padding-bottom: 100px;
      }

      .title{
        font-family: 'Roboto';
        font-size: 48px;
        font-weight: 700;
      }

      .project-showcase{
        padding-bottom:20px;
      }

      .project-row{
        padding-bottom:20px;
        height: 410px;
        text-align: center;
      }



      .image-showcase{
        max-width:100%;
        max-height:100%;
        margin: auto;
        display: block;

       }

       .menu-bar{
        padding-bottom:20px;
       }

	    body {
			width: 100%;
			margin: 0;
			padding: 0;
			overflow-x: hidden;
		}

		.panel-old{
			width: 2000px;
			float: left;
			padding-left: 30px;
			padding-right: 1040px;
			padding-top:45px;
			background: #eee;
		}

		.panel {
	        width: 100%;
	        padding-top:45px;
			background: white;
		}

		.home-panel {
		}

		#banner {
		  position: fixed;
		}

		#banner ul {
		  line-height:45px;
		  margin: 0 30px;
		  padding: 0;
		}

		#banner ul li {
		   display: inline;
		   margin-right: 20px;
		   color: black;
		}

		.navbar{
		  z-index: 9999;
		  background: #eee;
		  width: 100%;
		}

		.spacer{
		    height: 50px;
		}

        .g-r-1 {
            width: 410px;
            height: 410px;
            margin-left: auto;
            margin-right: auto;
            display: block;


            background: url("../3D/media/VRT-showcase.png");
            background-repeat: no-repeat;
            background-size: 420px;
            background-position: center center;

            border: 8px solid #000000;
            box-sizing: border-box;
            border-radius: 30px 0px;
        }

        .g-r-2 {
            width: 410px;
            height: 410px;
            margin-left: auto;
            margin-right: auto;
            display: block;


            background: url("../3D/media/dml-2.gif");
            background-repeat: no-repeat;
            background-size: 610px;
            background-position: center center;

            border: 8px solid #000000;
            box-sizing: border-box;
            border-radius: 30px 0px;
        }

		.g-r-3 {
            width: 410px;
            height: 410px;
            margin-left: auto;
            margin-right: auto;
            display: block;


            background: url("../3D/media/graphics-1.png");
            background-repeat: no-repeat;
            background-size: 420px;
            background-position: center center;

            border: 8px solid #000000;
            box-sizing: border-box;
            border-radius: 30px 0px;
        }

		.g-r-4 {
            width: 410px;
            height: 410px;
            margin-left: auto;
            margin-right: auto;
            display: block;


            background: url("../3D/media/solAR-1.png");
            background-repeat: no-repeat;
            background-size: 790px;
            background-position: center center;

            border: 8px solid #000000;
            box-sizing: border-box;
            border-radius: 30px 0px;
        }

        .p-r-1 {
            width: 410px;
            height: 410px;
            margin-left: auto;
            margin-right: auto;
            display: block;


            background: url("../product/media/barhub-5.gif");
            background-repeat: no-repeat;
            background-size: 750px;
            background-position: center center;

            border: 8px solid #000000;
            box-sizing: border-box;
            border-radius: 30px 0px;
        }

        .p-r-2 {
            width: 410px;
            height: 410px;
            margin-left: auto;
            margin-right: auto;
            display: block;


            background: url("../product/media/datc-7.png");
            background-repeat: no-repeat;
            background-size: 750px;
            background-position: center center;

            border: 8px solid #000000;
            box-sizing: border-box;
            border-radius: 30px 0px;
        }

        .u-r-1 {
            width: 410px;
            height: 410px;
            margin-left: auto;
            margin-right: auto;
            display: block;


            background: url("../ui-ux/media/ambient-1.png");
            background-repeat: no-repeat;
            background-size: 750px;
            background-position: center center;

            border: 8px solid #000000;
            box-sizing: border-box;
            border-radius: 30px 0px;
        }

        .u-r-2 {
            width: 410px;
            height: 410px;
            margin-left: auto;
            margin-right: auto;
            display: block;


            background: url("../ui-ux/media/cvc-5.png");
            background-repeat: no-repeat;
            background-size: 420px;
            background-position: center 0;

            border: 8px solid #000000;
            box-sizing: border-box;
            border-radius: 30px 0px;
        }

        .u-r-3 {
            width: 410px;
            height: 410px;
            margin-left: auto;
            margin-right: auto;
            display: block;


            background: url("../ui-ux/media/birdle-1.png");
            background-repeat: no-repeat;
            background-size: 420px;
            background-position: center 20%;

            border: 8px solid #000000;
            box-sizing: border-box;
            border-radius: 30px 0px;
        }

        .u-r-4 {
            width: 410px;
            height: 410px;
            margin-left: auto;
            margin-right: auto;
            display: block;


            background: url("../ui-ux/media/amot-1.png");
            background-repeat: no-repeat;
            background-size: 1000px;
            background-position: center center;

            border: 8px solid #000000;
            box-sizing: border-box;
            border-radius: 30px 0px;
        }

        .u-r-5 {
            width: 410px;
            height: 410px;
            margin-left: auto;
            margin-right: auto;
            display: block;


            background: url("../ui-ux/media/ps-1.png");
            background-repeat: no-repeat;
            background-size: 600px;
            background-position: center 0;

            border: 8px solid #000000;
            box-sizing: border-box;
            border-radius: 30px 0px;
        }

        .a-r-1 {
            width: 410px;
            height: 410px;
            margin-left: auto;
            margin-right: auto;
            display: block;


            background: url("../arch/media/newburgh-2.JPG");
            background-repeat: no-repeat;
            background-size: 375px;
            background-position: center center;

            border: 8px solid #000000;
            box-sizing: border-box;
            border-radius: 30px 0px;
        }

        .a-r-2 {
            width: 410px;
            height: 410px;
            margin-left: auto;
            margin-right: auto;
            display: block;


            background: url("../arch/media/flood-1.JPG");
            background-repeat: no-repeat;
            background-size: 430px;
            background-position: center center;

            border: 8px solid #000000;
            box-sizing: border-box;
            border-radius: 30px 0px;
        }



		a {
		    color:black;
		    font-weight: bold;
		}

